@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: #f4f7fd;
	--foreground: #000112;
	--white: #ffffff;
	--purple: #635fc7;
	--purple-hover: #a8a4ff;
	--dark-grey: #2b2c37;
	--medium-grey: #828fa3;
	--lines: #3e3f4e;
	--sidebar: hsl(0 0% 98%);
	--sidebar-foreground: hsl(240 5.3% 26.1%);
	--sidebar-primary: hsl(240 5.9% 10%);
	--sidebar-primary-foreground: hsl(0 0% 98%);
	--sidebar-accent: hsl(240 4.8% 95.9%);
	--sidebar-accent-foreground: hsl(240 5.9% 10%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
	--background: #20212c;
	--foreground: #ffffff;
	--white: #2b2c37;
	--lines: #e4ebfa;
	--sidebar: hsl(240 5.9% 10%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-white: var(--white);
	--color-purple: var(--purple);
	--color-purple-hover: var(--purple-hover);
	--color-dark-grey: var(--dark-grey);
	--color-medium-grey: var(--medium-grey);
	--color-lines: var(--lines);
	--breakpoint-des: 75rem;
	--text-h-xl: 1.5rem;
	--text-h-l: 1.125rem;
	--text-h-m: 0.938rem;
	--text-h-s: 0.75rem;
	--text-b-l: 0.813rem;
	--text-b-m: 0.75rem;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
}

body {
	font-family: var(--font-plus-jakarta-sans);
	font-weight: bold;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

button,
input {
	font-family: inherit;
}

button {
	cursor: pointer;
}
