@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
}

body {
	font-family: var(--font-plus-jakarta-sans);
}
